<a href="https://colab.research.google.com/github/BoyPlankton/public_notebooks/blob/master/AOC_2024_Day_1_Problem_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import re

In [ ]:
df = pd.read_csv('aoc_day1_input.txt', names=['value'])

In [ ]:
def extractValues(val):
  valx = re.findall('(\d)', val)

  vals = (int(valx[0])*10)+int(valx[len(valx)-1])

  return vals

In [ ]:
df['values'] = df['value'].apply(lambda x: extractValues(x))

In [ ]:
df['values'].sum()

54968

Part 2

In [190]:
from itertools import combinations

def convertValue(val):
  cv = {
      'one': 1,
      'two': 2,
      'three': 3,
      'four': 4,
      'five': 5,
      'six': 6,
      'seven': 7,
      'eight': 8,
      'nine': 9,
      '0': 0,
      '1': 1,
      '2': 2,
      '3': 3,
      '4': 4,
      '5': 5,
      '6': 6,
      '7': 7,
      '8': 8,
      '9': 9
  }

  if val in cv:
    return cv[val]

def extractValues2(val):
  valx = [val[x:y] for x, y in combinations(
            range(len(val) + 1), r = 2)]

  valx = [x for x in filter(lambda x: x != None, [convertValue(x) for x in valx])]

  vals = (valx[0]*10)+(valx[len(valx)-1])

  return vals

In [191]:
extractValues2("eightwo")

82

In [192]:
assert extractValues2("two1nine") == 29
assert extractValues2("eightwothree") == 83
assert extractValues2("abcone2threexyz") == 13
assert extractValues2("xtwone3four") == 24
assert extractValues2("4nineeightseven2") == 42
assert extractValues2("zoneight234") == 14
assert extractValues2("7pqrstsixteen") == 76
assert extractValues2("eightwo") == 82

In [193]:
df['values2'] = df['value'].apply(lambda x: extractValues2(x))

In [194]:
df['values2'].sum()

54094