<a href="https://colab.research.google.com/github/BoyPlankton/public_notebooks/blob/master/Keras_Celsius_to_Farenheit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd

In [2]:
def c_to_f(c):
  return (c*1.8)+32

In [3]:
c = np.array(range(-100, 101), dtype=float)
f = np.array([c_to_f(f) for f in c], dtype=float)

In [4]:
model = tf.keras.Sequential([
  tf.keras.layers.Dense(units=1, input_shape=[1])
])

In [5]:
model.compile(loss='mean_squared_error', 
              optimizer=tf.keras.optimizers.Adam(0.1), 
              metrics=['mean_squared_error'])

In [6]:
history = model.fit(c, f, epochs=100, verbose=False)

In [7]:
print(model.predict([100.0]))

[[211.21819]]

In [8]:
df = pd.DataFrame({'celsius': range(0,50,5)})

In [9]:
df['farenheit'] = c_to_f(df['celsius'])
df['predicted'] = model.predict(df['celsius'])
df['diff'] = abs(df['farenheit'] - df['predicted'])

In [10]:
df

   celsius  farenheit   predicted      diff
0        0       32.0   31.177805  0.822195
1        5       41.0   40.179825  0.820175
2       10       50.0   49.181843  0.818157
3       15       59.0   58.183861  0.816139
4       20       68.0   67.185883  0.814117
5       25       77.0   76.187897  0.812103
6       30       86.0   85.189919  0.810081
7       35       95.0   94.191933  0.808067
8       40      104.0  103.193954  0.806046
9       45      113.0  112.195969  0.804031